<nav>
  <section>
    <a href="/">
        <div class="btn" {% if page.url == "/" %}style="color: #b5e853;"{% endif %}>
          Главная
        </div>
      </a>
    <a href="/projects.html">
      <div class="btn" {% if page.url == "/projects.html" %}style="color: #b5e853;"{% endif %}>
        Проекты
      </div>
    </a>
    <a href="https://github.com/smylebifa" class="btn btn-github" target="_blank">
        <span class="icon"></span>
        Профиль в GitHub
    </a>
  </section>
  </nav>