<nav>
  <section>
    <a href="/">
        <div class="btn" {% if page.url == "/" %}style="color: #b5e853;"{% endif %}>
          Profile
        </div>
    </a>
    <a href="/projects.html">
      <div class="btn" {% if page.url == "/projects.html" %}style="color: #b5e853;"{% endif %}>
        Projects
      </div>
    </a>
    <a href="/other.html">
      <div class="btn" {% if page.url == "/other.html" %}style="color: #b5e853;"{% endif %}>
        Other
      </div>
    </a>
    <a href="https://github.com/smyledev" class="btn btn-github" target="_blank">
        <span class="icon"></span>
        Profile GitHub
    </a>
  </section>
  </nav>
