<nav>
    <a href="/">
        <h2 class="btn" {% if page.url == "/" %}style="color: #b5e853;"{% endif %}>
          Главная
        </h2>
      </a>
    <a href="/resume.html">
      <h2 class="btn" {% if page.url == "/resume.html" %}style="color: #b5e853;"{% endif %}>
        Резюме
      </h2>
    </a>
    <!-- <a href="https://github.com/smylebifa" target="_blank">
      <h2>Профиль в github</h2>
    </a> -->
    <a href="{{ site.github.repository_url }}" class="btn btn-github">
        <span class="icon"></span>
        <h2>
          View on GitHub
        </h2>
    </a>

  </nav>