html {
    background-image: url('../../images/backgroud_graffiti.jpg');
    background-size: contain;
    filter: saturate(110%) contrast(120%);
}

body {
    font-family: 'Graffiti font', sans-serif;
    margin: 0;
}


.main-quote {
    margin: 0 0 20px 0;
    font-style: italic;
    font-size: 1.5rem;
    color: #8C92AC;
}


header.main-header {
    background-image: linear-gradient(99.9deg, rgb(16 16 18) 21.2%, rgb(50 30 76) 84.8%);
    background-color: #241524;
    color: #fff;
    padding: 2rem;
    opacity: 0.95;
    border-bottom: solid 1px #0c0e10;
}


h1 {
    padding-bottom: 30px;
    border-bottom:  solid 3px rgb(112, 128, 144);
}

section {
    padding: 2rem;
}

section.summary {
    padding: 2rem;
    text-shadow: 1px 1px 2px pink;
}


section.work-experience{
    margin-top: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #ff00ff40;
    table-layout: fixed;
}

.work-experience-years-col {
    width: 15%;
}

.work-experience-job-title-col {
    width: 20%;
}

.work-experience-comment-col {
    width: 65%;
}

th {
    letter-spacing: 2px; 
    padding: 20px;
    text-align: left;
}

td {
    letter-spacing: 1px; 
    padding: 20px;
    text-align: left;
}

tfoot th {
    text-align: right;
}

thead, tfoot {
    background-image: url('../../images/leopardskin.jpg');
    color: #fff;
    text-shadow: 1px 1px 1px black
}


caption {
    padding: 20px;
    caption-side: bottom;
    color: rgb(102, 102, 102);
    font-style: italic;
    text-align: right;
    letter-spacing: 1px;
}


.main-footer {
    background-image: linear-gradient(99.9deg, rgb(0 0 0) 21.2%, rgb(8 7 9) 84.8%);
    background-color: #020202;
    color: #fff;
    padding: 2rem;
    opacity: 0.96;
    border-top: solid #100f11;
}

main {
    background: linear-gradient(99.9deg, rgb(14, 13, 33,0.9) 21.2%, rgb(14, 14, 33,0.9) 84.8%);
    color: white;
}

a, a h4 {
    color: rgb(180 137 206);
    text-decoration: none;
}

a:hover, a h4:hover {
    color: #9150ae;
}

img {
    filter: drop-shadow(16px 16px 20px #a882e2);
    border:4px solid #3e2269;
    opacity: 0.6;
    transform-style: preserve-3d;
        transition: transform 1s;
        cursor: pointer;
}

img:hover {
   filter: drop-shadow(16px 16px 20px #b3a5ed);
    border: 4px solid white;
    opacity: 1;
    transform: rotateY(180deg);
}

.section-summary {
   border-right: solid 2px #708090;
}

@-webkit-keyframes wave {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

li.section-summary strong{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: wave 2s infinite;
}

nav a {
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 35px;
}

.header_line {
    display: flex;
    width: 100%;
    background: #201821d4;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
}

nav ul li {
    padding: 0 var(--space-size);
}

a.scaled {
     display: inline-block;
    transition: .1s ease-in-out;
    transform: rotate(2deg) ;
}

a.scaled:hover {
    transform: scale(1.1);
    color: #15fdfdeb !important;
}

.summary-header, .work-header {
    display: flex;
}

.summary-header h2:hover, .work-header h2:hover {
        animation-name: shake;
        animation-duration: 1s;
    }

@keyframes shake {
    20% {
            transform: rotate(4deg);
        }
     40% {
            transform: rotate(-3deg);
        }
        60% {
            transform: rotate(2deg);
        }
             80% {
            transform: rotate(-1deg);
             }
}

body {
    font-family: 'Graffiti font', sans-serif;
    margin: 0;
}

.contact::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 1rem;
    height: 1rem;
    background-size: cover;
}

.main-quote {
    margin: 0 0 20px 0;
    font-style: italic;
    font-size: 1.5rem;
    color: #8C92AC;
}

header.main-header {
    background-image: linear-gradient(99.9deg, rgba(27,24,31,1) 21.2%, rgba(50,4,89,1) 84.8%);
    background-color: purple;
    color: #fff;
    padding: 2rem;
}

.avatar-figure {
    background-image: url('./images/stars.jpg');
    background-color: rgb(47, 47, 91);
    background-size: cover;
    margin: 0;
    padding: 1rem;
}

figure.avatar-figure img {
    border:  3px solid #fff;
}


ul.contacts {
    max-width: 50%;
    padding: 1rem;
    border: 3px solid #fff;
    color: #fff;
}


ul.contacts li{
    list-style: none;
    display: inline-block;
}

a.contact:visited {
    color:rgb(128, 128, 128)
} 

a.contact:active {
    color: rgb(151, 154, 170);
}

.contact-phone::before{
    background-image: url('./images/phone-call.svg');        
}

.contact-inst::before {
    background-image: url('./images/instagram-logo.svg');
}

.contact-twitter::before {
    background-image: url('./images/twitter.svg');
}

h1 {
    padding-bottom: 30px;
    border-bottom:  solid 3px rgb(112, 128, 144);
}

section {
    padding: 2rem;
}

section.summary {
    padding: 2rem;
    text-shadow: 1px 1px 2px pink;
}

.space {
    background: 
        url('./images/rocket_big.png') no-repeat center, 
        url('./images/space.jpg') no-repeat bottom center;
    float: left;
    width:  8rem;   
    height:  8rem;
    border-radius: 50%;
    margin-right: 15px;
}

section.work-experience{
    margin-top: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
    table-layout: fixed;
}

.work-experience-years-col {
    width: 15%;
}

.work-experience-job-title-col {
    width: 20%;
}

.work-experience-comment-col {
    width: 65%;
}

th {
    letter-spacing: 2px; 
    padding: 20px;
    text-align: left;
}

td {
    letter-spacing: 1px; 
    padding: 20px;
    text-align: left;
}

tfoot th {
    text-align: right;
}

thead, tfoot {
    background-image: url('../../images/leopardskin.jpg');
    color: #fff;
    text-shadow: 1px 1px 1px black
}


caption {
    padding: 20px;
    caption-side: bottom;
    color: rgb(102, 102, 102);
    font-style: italic;
    text-align: right;
    letter-spacing: 1px;
}

.main-footer {
    background-image: linear-gradient(99.9deg, rgba(27,24,31,1) 21.2%, rgba(50,4,89,1) 84.8%);
    background-color: purple;
    color: #fff;
    padding: 2rem;
}

main {
    background: linear-gradient(99.9deg, rgb(14, 13, 33,0.9) 21.2%, rgb(14, 14, 33,0.9) 84.8%);
    color: white;
}

a {
    color: rgb(180 137 206);
}
a:hover {
    color: #9150ae;
}
a:visited {
    color: #9150ae;
}



pre {
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 1rem 0 0 1rem;
  width: fit-content;
  padding: 2rem;
background-color: #251e35;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5); 
}
code {
  font-family: 'Graffiti font', sans-serif;
  font-weight: 400;
}

.lineOfCode {
  animation: typingEffect 1800ms steps(34, end) forwards 2000ms,
    caretAnim 500ms steps(4, end) 0s infinite;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: auto;
  border-right: 2px solid #ffffff;
}
.lineOfCode:nth-of-type(2) {
  
  animation-delay: 3100ms;
}
.lineOfCode:nth-of-type(3) {
  
  animation-delay: 5200ms;
}

@keyframes typingEffect {
  0% {
    border-width: 2px;
  }
  5% {
    width: 0;
    height: auto;
    border-width: 2px;
  }
  93% {
    border-width: 2px;
  }
  100% {
    width: 18ch;
    height: auto;
    border-width: 0;
  }
}

@keyframes caretAnim {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #ffffff;
  }
  100% {
    border-color: transparent;
  }
}



